* {
  box-sizing: border-box;
}
html,
body {
  background: #ecf0f3;
}
h1 {
  margin: 0;
  padding: 0;
}
.custom-form {
  min-width: 300px;
  max-width: 30%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 1rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 3rem;
}
.custom-form input {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}
.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: gray;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
  padding-bottom: 15px;
    
}

.titulo-principal {
    font-family: 'Poppins', sans-serif;
    font-size:2rem;
    color: #333;
    
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border-bottom: 3px solid #C0C0C0;
    display: inline-block;
    padding-bottom: 10px;
}

.titulo-secundario {
    font-family: 'Poppins', sans-serif;
    font-size:1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border-bottom: 3px solid #C0C0C0;
    display: inline-block;
    padding-bottom: 2px;
}

.titulo-popup {
    font-family: 'Poppins', sans-serif;
    font-size:1rem;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    
    padding-bottom: 5px;
    padding-top: 20px;
}

.subtitulo-lateral {
    font-size: 1.5rem;
    color: #555;
    border-left: 5px solid #28a745;
    padding-left: 15px;
    font-weight: 600;
    padding-bottom: 20px;
}

.titulo-degradado {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.titulo-card {
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: #2c3e50;
    font-size: 1rem;
    margin-bottom: 5px;
}

.titulo-cortado {
    font-size: 3rem;
    background-color: #333;
    color: white;
    padding: 10px;
    background-clip: text; /* Resalta el fondo en el texto */
    -webkit-background-clip: text;
    color: transparent;
}

.mat-mdc-table .mat-mdc-header-cell,
.mat-mdc-table .mat-mdc-cell {
  padding: 0 5px !important; /* Reduce el espacio horizontal */
  font-size: 12px;           /* Reduce el tamaño de la fuente */
}

.th-cel-jjo {
    
    padding: 0;
    vertical-align: middle;    
}

.th-cel-jjoblack {
    background-color: black;
    padding: 0;
    vertical-align: middle;    
}

.tabla-redondeada {
    border-collapse: separate; /* O 'collapse' con un contenedor */
    border-spacing: 0;
    border: 1px solid #ccc; /* Color del borde */
    border-radius: 10px;    /* Radio de las esquinas */
    overflow: hidden;       /* Mantiene el contenido dentro de las curvas */
}

/* Opcional: redondear bordes de los encabezados (th) si tienen fondo */
.tabla-redondeada th:first-child { border-top-left-radius: 10px; }
.tabla-redondeada th:last-child { border-top-right-radius: 10px; }
.tabla-redondeada tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.tabla-redondeada tr:last-child td:last-child { border-bottom-right-radius: 10px; }

.separador {
  border: none;
  height: 4px;
  background-color: gray;
  margin: 15px 0;
}