<div class="container">
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="custom-form" method="post">
    <h2>:: PPLD - Bienvenido ::</h2>
    <table class="container">
        <tbody>
            <tr>
                <th>
                    
                        <input
                        type="text"
                        class="form-control" 
                        name="UserName"
                        placeholder="UserName"
                        formControlName="username"      
                        [class.is-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                        />
                        @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
                            <div class="invalid-feedback">
                                ¡El usuario es requerido!
                            </div>
                        }
                    
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th>      
                    
                    <input
                    [type]="showPassword ? 'text' : 'password'" 
                    class="form-control" 
                    name="password"
                    placeholder="Password"
                    formControlName="password"
                    [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    />
                    
                </th>
                
                <th class="text-center">
                    
                    <span class="toggle-password" (click)="togglePassword()">
                    &nbsp;<i class="bi bi-eye{{ showPassword ? '-slash' : '' }}"></i>
                    </span>
                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                    <div class="invalid-feedback">
                        ¡La contraseña es requerida!
                    </div>                    
                    }     
                    
                </th>
            </tr>
            <tr>
                <th>      
                    <button type="submit" class="btn btn-login">Login</button>
                </th>
            </tr>
        </tbody>
    </table>

  </form>
</div>    
</div>